@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

body {
  /* font-family: "Lora", serif; */
  /* font-family: "Afacad", sans-serif; */
  /* font-family: "Raleway", sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* font-family: "Cormorant", serif; */
  font-optical-sizing: auto;
  font-style: normal;
}

.text-gradient-amber {
  background: linear-gradient(135deg, #f59e0b, #d97706, #b45309);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
